:root {
    --menu-background-color: #967259;
    --menu-color: black;
    --menu-color-hover: white;
    --main-background-color: #dbc1ac;
    --main-color: black;
    --image-border-color: #967259;
    --box-shadow-color: #38220f;
    --profile-picture-color: #38220f;
    --projects-item-background-color-1: #ece0d1;
    --projects-item-background-color-2: #967259;
    --collapsible-button-background-color: #38220f;
    --collapsible-button-color: white;
}

html {
    font-family: Josefin Sans, Helvetica, Arial, sans-serif;
    margin: 0; /*TODO: FIGURE OUT MARGIN VS PADDING*/
    scroll-behavior: smooth;
    line-height: 150%;
    background-color: var(--menu-background-color);
    color: var(--main-color);
    font-weight: bold;
    font-size: 18px;
}

.hide {
    display: none;
}

.heading {
    font-size: 36px;
}

.sub-heading {
    font-size: 16px;
    font-weight: normal;
}

.not-bold {
    font-weight: normal;
}

.circle-profile-img {
    border-radius: 50%;
    width: 16rem;
}

.flex-center {
    display: flex;
    align-items: center;
    justify-content: center;
}

/* The navigation bar */
.navbar {
    overflow: hidden;
    background-color: var(--menu-background-color); 
    position: fixed; /* Set the navbar to fixed position */
    top: 0; /* Position the navbar at the top of the page */
    width: 100%; /* Full width */
    height: 4rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    /*border-bottom: 1px solid var(--main-color2);*/
    color: var(--menu-color);
}

.navbar-container {
    display: flex;
    justify-content: space-between;
    width: 85%;
    height: 100%;
}

.navbar-title {
    height: fit-content;
}

.navbar-title a {
    color: var(--menu-color);
}

.navbar-item-container {
    align-self: center;
    width: fit-content;
    margin-left: 0;
    height: 100%;
}

/* Links inside the navbar */
.navbar-item {

    display: inline-block;
    position: relative;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-weight: 700;
    padding-bottom: 1%;
    padding-top: 1%;
}

/* Link animation */
.navbar-item::after {
    content: '';
    position: absolute;
    width: 60%;
    transform: scaleX(0);
    height: 3px;
    bottom: 0;
    left: 20%; /* CHANGE */
    transform-origin: bottom right;
    transition: transform 0.25s ease-out;
}

.navbar-item:hover {
    color: var(--menu-color-hover)
}

.navbar-item:hover::after {
    transform: scaleX(1);
    transform-origin: bottom left;
}

/*.navbar-item-div:hover iframe {
    display: inline;
    width: 5rem;
    height: 100%;
}*/

/* Change background on hover of nav item */
.navbar-item {
    color: var(--menu-color);
}

.navbar-item::after {
    background-color: var(--menu-color-hover);
}

/* Main content */
.main {
    padding-left: 10%;
    padding-right: 10%;
    padding-bottom: 4rem;
    background-color: var(--main-background-color);
}

body {
    margin: 0;
    display: block;
}

.main-section {
    padding-top: 4rem;
}

/* Projects Section */
.projects-container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.projects-item {
    display: flex;
    justify-content: left;
    flex-wrap: wrap;
    width: 100%;
    text-align: left;
    padding-bottom: 1.8rem;
    border-bottom: solid;
}

.projects-item:nth-child(odd) {
    background-color: var(--projects-item-background-color-1);
}

.projects-item:nth-child(even) {
    background-color: var(--projects-item-background-color-1);
}

.projects-item p {
    margin: 0;
}

.projects-img-container {
  
    width: 60%;
    /*display: flex;
    align-items: center;
    
    background-color: var(--image-border-color);
    border-radius: 10px;*/
}

.projects-collapsible-content {
    width: 100%;
    
    display: flex;
    padding: 0 2rem;
    /*padding-top: 1rem;
    padding-left: 2rem;
    padding-right: 2rem;
    padding-bottom: 0;*/
    
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.3s ease-out;
}

.projects-collapsible-content-container {
    display: flex;
    padding-top: 2rem;
}

.projects-item:nth-child(even) .projects-collapsible-content-container {
    flex-direction: row-reverse;
}

.projects-item:nth-child(even) .projects-info-container {
    margin-left: 5%;
}

.projects-item:nth-child(odd) .projects-info-container {
    margin-right: 5%;
}

.projects-title-container {
    padding-top: 2rem;
    padding-left: 2rem;
    padding-right: 2rem;
    width: 100%;
    display: flex;
    justify-content: space-between;
    border: none;
    cursor: pointer;
}

.projects-title-container:hover p {
    text-decoration: 3px underline;
}

.projects-collapsible-state {
    /*border: none;
    background-color: var(--collapsible-button-background-color);
    color: var(--collapsible-button-color);
    width: 2.5rem;
    height: 2.5rem;
    border-radius: 50%;
    cursor: pointer;*/

}

.projects-description {
    /*position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
    opacity: 0;
    transition: .5s ease;
    background-color: var(--image-border-color);*/
}

.projects-img-container:hover .projects-description {
    /*opacity: 1;*/
}

.projects-info-container {
    width: 35%;
    text-align: left;
}

/*.box-img:hover {
    box-shadow: 8px 8px var(--box-shadow-color);

}*/

.box-img {
    width: 100%;
    
    /*border: solid;
    border-width: 5px;
    border-radius: 10px;
    border-color: var(--image-border-color);*/
}

.profile-picture-container span {
    height:300px;
    width:300px;
    border-radius:50%;
    background-color:var(--profile-picture-color);
    display:block;
}

.profile-picture-container {
    width:40%
}

.text-container {
    width: 60%;
}



#resume-pdf {
    width: 80%;
    height: 61rem;
    border: none;
    /* COMMENT: brown rounded border
    border: solid;
    border-radius: 10px;
    border-width: 5px;
    border-color: var(--image-border-color);
    */
}

.footer{
    background-color: var(--menu-background-color);
    margin: 0;
    width: 100%;
    height: 3rem;
}

.contact-me-button {
    border: none;
    background-color: var(--main-background-color);
    width: 1.7rem;
    padding-left: 0;
}

.contact-me-body img {
    width: 1.4rem;
    margin-right: .4rem;
}

.new-tab-open-container {
    width: 2rem;
    height: 2rem;
    margin-bottom: .5rem;
    border-radius: 10px;
}

@media screen and (max-width: 1000px) {

    .projects-item {
        width: 100%;
        flex-wrap: wrap;
    }

    .projects-img-container {
        margin-top: 2rem;
        width: 100%;
    }

    .projects-info-container:nth-child(1n) {

        width: 100%;
        margin-left: 0;
        margin-right: 0;
    }

    .profile-picture-container {
        width: 100%;
    }

    .info-container {
        display: flex;
        flex-wrap: wrap;
    }

    .projects-collapsible-content-container {
        display: flex;
        flex-wrap: wrap;
    }

    .text-container {
        width: 100%;
    }
}

@media screen and (max-width: 750px) {

    .navbar-item-container {
        display: none;
    }
}